.buttonfonction {
  width: 324px;
  height: 75px;
  background-color: #f6f6f6;
  color: black;
  position: relative;
  text-align: left;
  border-radius: 22px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 4px 4px 5px #e5e5e5;
  cursor: pointer;
}
.buttonfonction:hover {
  background-color: #f5edff;
}
.buttonfonction .buttonfonction__fontawe {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.2rem;
  color: #7e7e7e;
}
.buttonfonction .buttonfonction__fontawe:hover {
  color: #9356DC;
  border: none;
}
.buttonfonction .buttonfonction__circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 8px;
  background: #9356DC;
  border: 2px solid #9356DC;
  color: white;
  text-align: center;
  font: 18px "Roboto", sans-serif;
  position: absolute;
  left: -16px;
  top: 21px;
}

.buttonexplore {
  width: 220px;
  height: 50px;
  color: white;
  background: linear-gradient(-10deg, #9356DC, #ec87e0);
  cursor: pointer;
  border-radius: 22px;
  border: none;
  margin-top: 20px;
  box-shadow: 4px 4px 5px #e5e5e5;
}

.buttonblock {
  width: 100%;
  height: 70px;
  border-radius: 22px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  box-shadow: 4px 4px 5px #e5e5e5;
  cursor: pointer;
}
.buttonblock .buttonblock__title {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 15px;
}
.buttonblock .buttonblock__txt {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 15px;
  width: 90%;
  margin-top: 8px;
}

.buttonorder {
  width: 186px;
  height: 50px;
  color: white;
  background: linear-gradient(-10deg, #9356DC, #ec87e0);
  cursor: pointer;
  border-radius: 22px;
  border: none;
  margin-top: 20px;
  box-shadow: 4px 4px 5px #e5e5e5;
}

.header {
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
}
.header .header__image {
  width: 50%;
  height: 22px;
}
.header .header__accueil {
  position: absolute;
  left: 20px;
  font-size: 1.4rem;
}
.header .header__accueil:visited {
  color: black;
}

.header__noteenchantee {
  z-index: 2;
  height: 60px;
}

footer {
  width: 100%;
  height: 230px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:visited {
  text-decoration: none;
  color: white;
}

.imgfooter {
  width: 100px;
  height: 22px;
  margin-top: 27px;
  margin-left: 27px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 27px;
}
ul li {
  margin-top: 10px;
}

.location {
  width: 100%;
  height: 51px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.location .location__marker {
  position: absolute;
  left: 109px;
}

.explore {
  width: 100%;
  height: 290px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explore h2 {
  font-size: 1.6rem;
  font-weight: 700;
  width: 80%;
}
.explore p {
  font-size: 1.2rem;
  font-weight: 300;
}

.section1 {
  width: 100%;
  height: 395px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
}

.titlefonctionement {
  margin-right: 140px;
}

.section2 {
  width: 100%;
  height: 1230px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 30px;
}
.section2 h2 {
  margin-right: 192px;
}

.restaurantblock {
  border-radius: 22px;
  background-color: white;
  height: 251px;
  width: 334px;
  text-align: left;
  position: relative;
  box-shadow: 4px 4px 5px #e5e5e5;
}
.restaurantblock a {
  text-decoration: none;
}
.restaurantblock a:visited {
  text-decoration: none;
  color: black;
}
.restaurantblock .restaurantblock__img {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 176px;
  overflow: hidden;
  border-radius: 22px 22px 0px 0px;
  width: calc(100%);
}
.restaurantblock .restaurantblock__img2 {
  width: 100%;
}
.restaurantblock .restaurantblock__nouveau {
  position: absolute;
  color: #008766;
  width: 80px;
  height: 28px;
  background-color: #99E2D0;
  text-align: center;
  top: 22px;
  right: 22px;
  display: inline-block;
  border-radius: 2px;
  line-height: 28px;
}

.blocktitle {
  text-decoration: none;
  color: black;
  margin: 0;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}
.blocktitle p {
  font-size: 1rem;
  margin-top: 5px;
  font-weight: 300;
}
.blocktitle .blocktitle__heart {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 1.7rem;
  font-weight: 100;
}
.blocktitle .blocktitle__heart:hover {
  background: linear-gradient(180deg, #9356DC, #ec87e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imgmenu {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 228px;
  width: calc(100%);
  z-index: 1;
  position: absolute;
  overflow: hidden;
}
.imgmenu .imgmenu__width {
  width: 100%;
}

.sectionmenu2 {
  width: 100%;
  height: 1166px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 43px 43px 0px 0px;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
  margin-top: 199px;
  padding-bottom: 70px;
  padding-top: 20px;
}

.sectionmenu3 {
  width: 100%;
  height: 1272px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 43px 43px 0px 0px;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
  margin-top: 199px;
  padding-bottom: 70px;
  padding-top: 20px;
}

h1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.menublock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 86%;
}
.menublock h2 {
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 300;
}
.menublock h2 em {
  font-style: normal;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #99E2D0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
}

/*# sourceMappingURL=ohmyfood.css.map */
