//button homepage// 


//Bouton Fonctionnement homepage//
.buttonfonction{
  width: 324px;
  height: 75px;
  background-color:$color-greyback;
  color: black;
  position: relative;
  text-align: left;
  border-radius: 22px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: $boxshadow;
  cursor: pointer;
  @include ipad{
    width: 400px;
    height: 85px;
    font-size: 1.4rem;
    font-weight: 400;
  }
  &:hover{
    background-color: #f5edff;
  }
  &:focus{
    outline: none;
  }
  .buttonfonction__fontawe{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.2rem;
    color: #7e7e7e;
    @include ipad{
      font-size: 1.4rem;
    }
    &:hover{
      color:$color-primary;
      border: none;
    
    }
  }
  .buttonfonction__circle{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 8px;
    background:$color-primary;
    border: 2px solid $color-primary;
    color:white;
    text-align: center;
    font: 18px "Roboto", sans-serif;
    position: absolute;
    left: -16px;
    top: 21px;
  }
}


//Button section 1 explorer //

.buttonexplore{
@include button ($width:220px)
}

  @media screen and(min-width: map-get($breakpoints,md)) and (max-width: map-get($breakpoints, lg))  {
    .buttonexplore{
      @include button($width:400px)
    }
  }


//button menu  Entrées plats desserts//

.buttonblock{
  width: 100%;
  height: 70px;
  border-radius: 22px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  box-shadow: $boxshadow;
  margin-top: 17px;
  cursor: pointer;
  @include ipad {
  margin-top: 25px;
  }
  &:focus{
    outline: none;
  }
  .buttonblock__title{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 15px;
    @include ipad {
    font-size: 1.2rem;
    }
  }
  .buttonblock__txt{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 15px;
    width: 90%;
    margin-top: 8px;
    @include ipad {
font-size: 1rem;
    }
  }
}

//Button order all menu pages avec mixin button//
.buttonorder{
@include button ($margintop:50px);
}
@media screen and(min-width: map-get($breakpoints,md)) and (max-width: map-get($breakpoints, lg))  {
  .buttonorder{
    @include button($width:400px,$margintop:50px);
  }
}


