@keyframes menublocktrans {
  from{
	opacity: 0;
  }

  to{
	opacity: 1;
  }
}

.menublock1{
  animation: 0.5s ease-in menublocktrans;
}
.menublock2{
  animation: 1s ease-in menublocktrans;
}
.menublock3{
  animation: 1.5s ease-in menublocktrans;
}


